
  <div class="container">
    <div class="wrapper">
        <div class="left">
          <a routerLink="/">
            <img class="img" src="/assets/ELPASO.png">
          </a>
        </div>
        <div class="center">
            <!-- center -->
        </div>
        <div class="right">
            <div class="menuItem">
              <button class="button">LOGIN</button>
            </div>
            <div class="menuItem">
              <img src="/assets/icon-cart.svg" alt="">
            </div>
        </div>
    </div>

  </div>

