<header class="sticky">
    <div class="container">
        <a routerLink="/" class="logo"><img src="/assets/dodgelogo.png" alt="Dodge-Food" width="40px" height="40px"></a>
        <nav>
            <ul>
                <li>
                    <img src="/assets/icon-cart.svg" alt="">
                    <a routerLink="/cart-page">Cart</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<!-- <footer class="footer">
    <div class="containers">
        <div class="row">
            <div class="footer-col">
                <h3>Resturant</h3>
                <ul>
                    <li><a href="#">home</a></li>
                    <li><a href="#">Cart</a></li>
                    <li><a href="#">Contact</a></li>

                </ul>
            </div>
            <div class="footer-col">
                <h3>Contact Us</h3>
                <ul>
                    <li><a href="#"></a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h3>Follow Us</h3>
                <div class="social">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                </div>
            </div>
        </div>
    </div>

</footer> -->