
  <div class="container">
    <div class="wrapper">
        <div class="left">
          <a routerLink="/">
            <img class="img" src="/assets/ELPASO.png">
          </a>
        </div>
        <div class="center">
            <!-- center -->
        </div>
        <div class="right">
            <a routerLink="/login">
              <div class="menuItem">
                <button class="button">LOGIN</button>
              </div>
            </a>
            <div class="menuItem">
              <a routerLink="/cart">
                <img src="/assets/icon-cart.svg" alt="">
                <div class="circle" *ngFor="let cartItems of cart.items">
                    {{cart.items.length}}
                </div>
              </a>
            </div>
        </div>
    </div>

  </div>

