<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h3>Resturant</h3>
                <ol>
                    <li><a routerLink="/">home</a></li>
                    <li><a routerLink="/cart">Cart</a></li>
                    <li><a routerLink="/login" (click)="handleLogin()">Login</a></li>

                </ol>
            </div>
            <div class="footer-col">
                <h3>Our Services</h3>
                <ol>
                    <li><a routerLink="">Food Delivery</a></li>
                    <li><a routerLink="">Blogs</a></li>
                    <li><a routerLink="">Customer Care</a></li>
                </ol>
            </div>
            <div class="footer-col">
                <h3>Follow Us</h3>
                <div class="social">
                    <a routerLink="/"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://wa.me/+2348169104622"><i class="fab fa-whatsapp"></i></a>
                    <a href="https://instagram.com/cnb_foods?igshid=YmMyMTA2M2Y="><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="newsletter">
            <h3>Get Newsletter</h3>
            <input type="email"  placeholder="Enter your email">
            <button><i class="fa-solid fa-envelope"></i></button>

        </div>
    </div>

<!-- </footer> -->
