<div class="container">
  <div class="wrapper">
    <div class="left">
      <a routerLink="/">
        <img class="img" src="/assets/ELPASO.png">
      </a>
    </div>
    <div class="center">
        <!-- center -->
    </div>
    <div class="right">
        <a routerLink="">
          <div class="menuItem">
            <button class="button">SERVICES</button>
          </div>
        </a>
        <a routerLink="/login">
          <div class="menuItem">
            <button class="button">LOGIN</button>
          </div>
        </a>
        <!-- <div class="menuItem">
          <a routerLink="/cart">
            <img src="/assets/icon-cart.svg" alt="">
          </a>
        </div> -->
    </div>
</div>
</div>



<app-foooter></app-foooter>