<div class="container-fluid">
  <div class="wrapper">
    <div class="left">
      <a routerLink="/">
        <img class="img" src="/assets/ELPASO.png">
      </a>
    </div>
    <div class="center">
        <!-- center -->
    </div>
    <div class="right">
        <a routerLink="">
          <div class="menuItem">
            <button class="button">SERVICES</button>
          </div>
        </a>
        <a routerLink="/login">
          <div class="menuItem">
            <button class="button">LOGIN</button>
          </div>
        </a>
    </div>
  </div>
</div>

<div class="about">
  <div class="about-text">
    <h3>GET TO KNOW US</h3>
    <p class="paragraph"><em>El.paso</em> is a resturant where different kinds of pastry art are made. <br>
      here we use the most finest ingeridents, which are then integrated together by our professional bakers to make equisite edible pastry arts and then presented in the most appealing way <br>
      leaving you wanting more...
    </p>
    <p class="paragraph">Here at <em>El.paso</em> we offer other services. check <a href="">SERVICES</a> to find out more</p>
  </div>
  <div>
    <img src="./assets/aboutpg.png">
  </div>
</div>

<section>
  <h3>OUR SERVICES</h3>
  <div class="sub-container">
    <div class="display-text">
      <div class="firstservice">
        <h5>Train with us</h5>
        <hr>
        <p class="servicetext">Intensive training that comes with loads of benefits. Click the button below to begin</p>
        <button class="btn">START</button>
      </div>
    </div>

    <div class="display-text">
      <div class="secondservice">
        <h5>Train with us</h5>
        <hr>
        <p class="servicetext">Intensive training that comes with loads of benefits. Click the button below to begin</p>
        <button class="btn">START</button>
      </div>
    </div>

    <div class="display-text">
      <div class="thirdservice">
        <h5>Train with us</h5>
        <hr>
        <p class="servicetext">Intensive training that comes with loads of benefits. Click the button below to begin</p>
        <button class="btn">START</button>
      </div>
    </div>
  </div>
</section>

<div class="Container">
  <h4>Customers Review</h4>
  <div class="round">
    <div class="circle"></div>
    <div class="circle1">
      <div class="content">
        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
        <span class="text">EL's has one of the most amazing pastry 
          I've tasted here in lagos.
          I'm definitely comming back for more
        </span>
      </div>
      <hr class="line">
      <h6>Favour O.</h6>
    </div>
  </div>
</div>

<app-foooter></app-foooter>