
<div class="space-top">
  <h3>History</h3>

<div class="container">
  <ul>
    <li *ngFor="let food of foods">
      <div>
        <img src={{food.imageUrl}} />
      </div>

      <a routerLink="/food/{{food.id}}" >
        <div class="name">
          {{food.name}}
        </div>
      </a>


      <div>
        <strong>Amount purchased:</strong> 1
      </div>

      <div>
        <strong>Paid:</strong> ${{food.price}}
      </div>

      <div>
        <strong>Date:</strong> 07/04/2022
      </div>
    </li>
  </ul>
</div>

</div>
