<div class="primary">
  <div class="logs">
      <div class="log-form">
          <h2>Enter Login!!</h2>
          <form method="post">
              <div class="Register">
                  <input type="email" placeholder="Email or username" required><br><br>
                  <input type="password" placeholder="Password" required>
              </div>
              <div class="forgot"><a routerLink=""><em>Forgot Password?</em></a></div>
              <a routerLink="/cart">
              <button type="submit">login
              </button>
              </a>
              <div class="sign">
                  No account? <a routerLink="/signup"><em>Signup</em></a>
              </div>
          </form>
      </div>
  </div>
</div>
