.primary{
  font-family: Italianno;
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.5)), url("/assets/log.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}


*{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

/*body{
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.5)), url("/assets/logbgg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}*/

.log-form{
  background: white;
  border: 2px solid rgb(236, 228, 228);

  width: 350px;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

a{
  color: black;
}

.log-form h2{
  font-size: 30px;
  font-family:'Times New Roman', Times, serif;
  font-weight: light;
  text-align: center;
  text-transform: uppercase;
  margin: 40px 0;
}

.log-form input{
  margin-bottom: 2px;
  width: 80%;
  padding: 15px 10px;
  border: 0;
  border-bottom: 1.5px solid black;
  outline: none;
  border-radius: 5px;
  margin-left: 30px;
}

.log-form .forgot{
  margin-top: 10px;
  padding-left: 30px;
  font-size: small;
}

.log-form button{
  font-size: 18px;
  font-weight: bold;
  margin: 15px 0;
  padding: 10px 15px;
  margin-left: 80px;
  width: 50%;
  border-radius: 10px;
  border: 1px solid rgb(132, 81, 81);;
  background: white;
  cursor: pointer;
  transition: all 0.4s;
}

.log-form button:hover{
  background-color:  rgb(132, 81, 81);
  color: white;
  transform: scale(1.1);
  cursor: pointer;
}

.sign{
  padding-left: 100px;
  font-size: small;
  font-weight: bold;
  /* color: rgb(236, 228, 228); */
  /* color: black; */
}
