.top{
    display: flex;
    margin-top: 6rem;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  
  }
  .home{
    padding: 10px;
    font-weight: 600;
    cursor: pointer;
    color: black;
    background-color: transparent;
    border: 1px solid rgb(132, 81, 81);
    font-size: 1.2rem;
    padding: .8rem;
    border-radius: 10px;
    outline: none;
  
  }
  .title{
    font-size: 2rem;
    font-weight: 100;
    color: rgb(64, 64, 64);
  }
  
  .checkOut{
    padding: 10px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    background-color: rgb(132, 81, 81);
    border: none;
    font-size: 1.2rem;
    padding: .8rem;
    border-radius: 10px;
    outline: none;
  }
  
  .container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 1.5rem;
    margin-top: 7rem;
  }
  
  ul{
    display: flex;
    flex-direction: column;
    flex: 3 0;
    justify-content: space-evenly;
    border: 1px solid #ffbbbb;
    border-radius: 1rem;
    list-style-type: none;
    margin: .4rem;
    padding: 0;
  }
  
  ul li{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-bottom: 1px solid #ffbbbb;
    align-items: center;
  }
  
  ul li:last-child{
    border: none;
  }
  
  ul li img{
    width: 6rem;
    height: 6rem;
    border-radius: 1rem;
    object-fit: cover;
  }
  
  ul li div{
    padding: 1rem;
  }
  
  ul li div:not(:first-child){
    flex-basis: 18%;
  }
  
  ul li select{
    width: 3rem;
    outline: none;
    border: none;
    border-bottom: 1px solid lightgray;
    font-size: 1.1rem;
    font-weight: 100;
    padding: .2rem;
  }
  
  ul li a{
    color: black;
  }
  
  .checkout{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1 3;
    height: 20rem;
    border: 1px solid #ffbbbb;
    border-radius: 1rem;
    padding: .5rem;
    margin: .5rem;
  
  }
  
  .checkout>div{
    font-size: 1.4rem;
    margin: 1rem;
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  
  .checkout .food-count{
    margin-bottom: 1.4rem;
  }
  
  .checkout .food-count::before{
    content: 'Count: ';
    color: gray;
  }
  
  .checkout .total-price::before{
    content: 'Price: ';
    color: gray;
  }
  
  .payment{
    width: 500px;
    height: 500px;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 10px 50px;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 20px 1px rgba(0,0,0,0.44);
  -webkit-box-shadow: 10px 10px 20px 1px rgba(0,0,0,0.44);
  -moz-box-shadow: 10px 10px 20px 1px rgba(0,0,0,0.44);
  }
  .payTitle{
    font-size: 20px;
    color: gray;
  }
  label{
    font-size: 20px;
    font-weight: 300;
  
  }
  .payInput{
    padding: 10px;
    margin: 10px 0px;
    border: none;
    border-bottom: 1px solid gray;
    outline: none;
  }
  .payInput::placeholder{
    color: rgb(100, 143, 121);
  }
  .cardIcons{
    display: flex;
  }
  .cardIcon{
    margin-right: 10px;
  }
  .cardInfo{
    display: flex;
    justify-content: space-between;
  }
  .sm{
    width: 30%;
  }
  .checkoutButton{
    position:absolute;
    height: 40px;
    bottom: 0;
    width: 100%;
    left: 0;
    box-shadow: 10px 10px 20px 1px rgba(0,0,0,0.44);
    -webkit-box-shadow: 10px 10px 20px 1px rgba(0,0,0,0.44);
    -moz-box-shadow: 10px 10px 20px 1px rgba(0,0,0,0.44);
    background-color: #369e62;
    color: white;
    border: none;
    cursor: pointer;
  }
  .close{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 2px;
  }