<app-header></app-header>
<div class="empty" *ngIf="foodItems < 1">
    <div class="info">
        <h4>You don't have any items in your cart</h4>
        <a routerLink="" class="btn btn-success">Start Shopping</a>
    </div>
</div>
<!-- remove .lenght for the ngIFs -->
<ng-container *ngIf="foodItems > 0">
    <div class="cart" *ngFor="let foodItem of foodItems; let i = index">
    <i class="bi bi-trash-fill text-danger" aria-hidden="true"
    (click)="onDelete(i)"></i>
    <div class="imgBox">
      <img [src]="foodItem.imageUrl" alt="" class="img">
    </div>
    <div class="desc">
        {{ foodItem.desc }}
    </div>
    <div class="price">
        {{ foodItem.price |currency }}
    </div>
    <input type="number" class="qty" [value]="foodItem.qty"
    (blur)="validateInput($event, i)">
    <div class="subtotal">
        {{ foodItem.price * foodItem.qty |currency}}
    </div>
</div>

<div class="checkout">
    <div>Subtotal</div>
    <b>$0</b>
    <div>Shopping</div>
    <b>$0</b>
    <div>Total</div>
    <b>{{ total | currency}}</b>

    <!-- <button class="btn btn-success"
        (click)="onCheckout()">Check Out</button> -->
</div>

</ng-container>
