<div class="name">
  <div class="Details">
      <h3>CREATE AN ACCOUNT</h3>
      <form [formGroup]="signup" method="post">
          <div class="log">
              Have an account? <a routerLink="/login"><em>Login</em></a>
          </div>
          <div class="names">
              <input formControlName="text" class="Input" type="text" placeholder="Full name" required>
              <input formControlName="email" class="Input" type="email" placeholder="Email" required>
              <input formControlName="password" class="Input" type="password" placeholder="Password">
              <br>
              <a routerLink="/login">
              <button type="submit" [disabled]="signup.invalid">
                  Submit
              </button>
              </a>
          </div>
      </form>
  </div>
</div>
