<app-banner></app-banner>
<ul>
    <li *ngFor="let food of foods">
        <a>
            <img src="{{food.imageUrl}}" alt="" >
            <div class="content">
                <div class="name">
                    <h6 style=font-size:0.7rem;>{{food.name}}</h6>
                </div>
                <!-- <div> ❤ </div> -->
                <!-- <div style="text-align:center"></div> -->
                    <!-- <h1>
                      ng-starrating demo
                    </h1> -->
                <div class="stars">
                    <star-rating 
                        [value]="5"
                        [totalstars]="5" 
                        checkedcolor="red" 
                        uncheckedcolor="black" 
                        size="18px" 
                        [readonly]="false">
                    </star-rating>
                </div>
        
                  
            </div>
        </a>
    </li>
</ul>