<div class="footer">
    <hr>
    <div class="container">
        <div class="fdetails">
            <h4>CONTACT US</h4>
            <div class="social">
                <a routerLink="/"><i class="fab fa-facebook-f"></i></a>
                <a href="https://wa.me/+2348169104622"><i class="fab fa-whatsapp"></i></a>
                <a href="https://instagram.com/cnb_foods?igshid=YmMyMTA2M2Y="><i class="fab fa-instagram"></i></a>
            </div>
            <h3>Legal</h3>
            <p>&copy;copyright 2022 <em>El.paso</em>| All rights reserved</p>
        </div>
    </div>
</div>